<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8", xmlns="http://www.w3.org/1999/xhtml">
    <meta charset="UTF-8">
    <title>My Blog</title>
</head>
    <p>
        Welcome <br> to <br> Our Author Blog!
    </p>
<body style=text-align:center link="black" vlink="goldenrod" alink="#ff0000">

    {% for art in articles %}
        <p>
            <a href="{% url 'article' art.id %}">
            <span style="color: blue">
                {{art.id}}
            </span>
            {{ art.title}}
            by
            {{ art.author}}
        </p>
    {% endfor %}

</body>
</html>