<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <title>Users</title>
        <meta charset="UTF-8", xmlns="http://www.w3.org/1999/xhtml">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <meta charset="UTF-8", xmlns="http://www.w3.org/1999/xhtml">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <title>Author Blog</title>
    <style>
    body {
    background-color: GhostWhite!important;
    text-align:center;
    }
    h3 {
    color: DarkRed;
    }
    h1 {
    color:  DarkRed;
    }
    a:link {
    color: DarkRed;
    background-color: transparent;
    text-decoration: none;
    }

    a:visited {
    color: pink;
    background-color: transparent;
    text-decoration: none;
    }
    a:hover {
      color: black;
      background-color: transparent;
      text-decoration: underline;
    }
    </style>
    </head>
    <body>
        {% block body %}
        {% endblock %}
    </body>

</html>