{% extends "layout.html" %}

{% block body %}

    <h1>Welcome</h1>
    <h3> Get ready </h3>

    <ul style="list-style-type:none;">
        <li>User ID: {{ request.user.id }}</li>
        <li>Email: {{ request.user.email }}</li>
    </ul>


    <button type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span><a href="{% url 'logout' %}">Log Out</a></span>
    </button>

    <button type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span><a href="{% url 'homepage' %}">Home Page</a></span>
    </button>

{% endblock %}